<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<selenium>
		<browser name="Firefox" browser="*firefox E:\ProgramFilesx86\Mozilla-Firefox\firefox.exe" />
	</selenium>

</phpunit>